//@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.card {

  //Added to Pivot-Tiles to get rid of overlap
  overflow-x: hidden;

  .wrapper{
    //Original slider:    border: 1px solid grey;
    //Original slider:    max-width: 300px;
    //Original slider:    height: 500px;
    border: 1px solid white;
    max-width: 100%;
    width: 300px;
    height: 500px;


  }

  .url {
    text-decoration: none;
  }

  .image {
    //Original slider:  height: 200px;
    height: 200px;
    object-fit: contain;
    width: 100%;
  }

  .title {
    //Original slider:  height: 120px;
    height: 25px;
    padding: 10px 30px 10px;
  }

  .description {
    //Original slider:  height: 200px;
    height: 35px;
    padding: 0px 30px 0px;
  }
}