.pivotTiles {


  $box-height: 180px ;
  $box-width1x: $box-height;
  $box-width15x: $box-width1x * 1.5;
  $box-width2x: $box-width1x * 2;
  $box-width3x: $box-width1x * 3;
  $wrapper-size-not-expanded: 10px;
  $tileGap: 8px;
  $tileGapPer:$tileGap/$box-height;
  $box-width: 18%* (1 - $tileGapPer);
//  $box-width: $box-width1x;

  $tileMargin:  $tileGap $tileGap 0px 0px;
  $panelHtVis: .4 * $box-height;
  $panelHtHid: $box-height - $panelHtVis;
  $titleFontSize: 16px;
  $descFontSize: 12px;

  .container {
    max-width: 100%;
    margin: 0px auto;
    position: relative;

  }

  .pTileItemWrapper {
    float: left;
    display: block;
    height: $box-height;
    width: $box-width;
    position: relative;
    border: #bebebe 1px solid;
    margin:  $tileMargin;
    overflow: hidden;
  }
  
  .pTileItemWrapperExpanded {
    @extend .pTileItemWrapper;
    // top: 0px;
    // opacity: .8;
    /*
    // See this guide for things like formulas in css and extending etc
    // https://sass-lang.com/guide
    */

    width: (1-$tileGapPer) * $box-width;
    height: $box-height;
    margin:  $tileMargin;
    border:0px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    //-webkit-transform: scale(0.5,0.5);
    //transform: scale(0.5,0.5);
    transition:all 0.3s ease;
    //transition-delay:0.15s;
  }
  .pTileItemWrapperNotExpanded {
    @extend .pTileItemWrapper;
    // top: 0px;
    // opacity: .8;
    /*
    // See this guide for things like formulas in css and extending etc
    // https://sass-lang.com/guide
    */
    width: 0px;
    height: 0px;
    margin: 0px 0px 0px 0px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    //-webkit-transform: scale(1,1);
    //transform: scale(1,1);
    transition:all 0.3s ease;
    //transition-delay:0.15s;
  }
  .pTileItemImage {
    width: 100%;
    height: $box-height;
  }
  .pTileItemHoverPanel {
    position: absolute;
    top: $panelHtHid;
    height: $box-height;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba( 0,0,0,0.75 );
    filter: alpha(opacity=50);
    padding: 2px;

    // height: $box-size * .20;
    /*
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0,$box-size * .80,0);
    transform: translate3d(0,$box-size * .80,0);
    transition:all 0.3s ease;  
    */  
  }
  .pTileItemHoverPanelExpanded {
    @extend .pTileItemHoverPanel;
    // top: 0px;
    // opacity: .8;
    /*
    // See this guide for things like formulas in css and extending etc
    // https://sass-lang.com/guide
    */

    // overflow: hidden;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0,-$panelHtHid,0);
    transform: translate3d(0,-$panelHtHid,0);
    transition:all 0.5s ease;
    transition-delay:0.25s;
  }
  .pTileItemHoverPanelNotExpanded {
    @extend .pTileItemHoverPanel;
    // top: 0px;
    // opacity: .8;
    /*
    // See this guide for things like formulas in css and extending etc
    // https://sass-lang.com/guide
    */
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition:all 0.7s ease;
    //transition-delay:0.15s;
  }
  .pTileItemTitle {
    //font-size: ($box-size - ($box-size * .80)) - 10px;
    //line-height: ($box-size - ($box-size * .80)) - 4px;
    font-size: $titleFontSize;    
    //font-weight: bold;
    color: #eee;
    height:$panelHtVis;
  }
  .pTileItemDesc {

    font-size: $descFontSize;
    //line-height: ($box-size - ($box-size * .80)) - 4px;
    color: #ccc;
  }
}

